.principal{
  color: #fff;
  .principal-texto{
    height: 20rem;
      /* From https://css.glass */
    background: rgba(56, 56, 56, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border: 1px solid #3f51b5;
    // background-image: url(/assets/principal/principal-texto2.svg);
    // background-size:cover;

    .titulo-principal{
      height: auto;
      font-size:xx-large;
    }
    .titulo-body-principal{
      font-size: larger;
      height: auto;
    }

  }
  .principal-imagen img{
    width: 490px;
    height: 450px;
  }
  .foto{
    transition: all 300ms;
    animation: move_vector 6s ease-in-out infinite;

    @supports(object-fit: cover){
      .principal-imagen img{
        height: 100%;
        width: 100%;
        object-fit: contain;
        object-position: center center;
      }
    }

    @keyframes move_vector{
      0%{
          transform: translateY(13px);
      }
      25%{
          transform: translateY(-13px);
      }
      100%{
          transform: translateY(13px);
      }
    }

  }

}
