<br>
<section class="container-fluid principal">
  <div class="row justify-content-center align-items-center">
    <div class="principal-texto col-lg-5 d-flex align-items-center">
      <div class="row justify-content-center">
        <h2 class="col-10 titulo-principal d-flex justify-content-center align-items-center">Bienvenido</h2>
        <p class="col-10 titulo-body-principal text-center">Te llevare a navegar por dos mundos, Conoceras el lado de Rick y Morty y Tambien conoceras el lado del mundo de marvel <br> ¿Estas preparado? <br> VAMOS</p>
        <button class="col-4" mat-raised-button color="primary" [routerLink]="['/rick']">Rick y Morty</button>
        &nbsp;
        <button class="col-4" mat-raised-button color="primary" [routerLink]="['/marvel']">Mundo Marvel</button>
      </div>
    </div>
    <div class="principal-imagen col-lg-5  d-flex justify-content-center">
      <img class="foto" src="/assets/images/astro.png" alt="" srcset="">
    </div>
  </div>
</section>


